ODIN_DNS_PORT=53
ODIN_BUFFER_SIZE=512
ODIN_API_ENABLED=true

ODIN_API_PORT=8080
ODIN_API_HOST="127.0.0.1"
ODIN_DEMO_KEY="changeme"

ODIN_MYSQL_DSN="user:password@tcp(your-db-host:3306)/your_db_name?parseTime=true"

ODIN_REDIS_HOST="localhost:6379"
ODIN_REDIS_USERNAME="default"
ODIN_REDIS_PASSWORD=""
ODIN_REDIS_DATABASE=0
